
    <h1><%= title %></h1>
    <ul>
      <% bookinstance_list.forEach(function(book)
      { %>
        <li><a href='<%= book.url %>'> <%= book.book.title %>: <%= book.imprint %> </a>
        <% if(book.status=='Available'){%>
          <span class='text-success'><%= book.status %></span>
        <% } else if(book.status=='Maintenance'){%>
          <span class='text-danger'><%= book.status %></span>
        <% } else {%>
          <span class='text-warning'><%= book.status %></span>
        <% } if(book.status!=='Available'){%>
          <span>(Due: <%= book.due_back_formatted %></span>
      <%} %>
      </li>
      <% }) %>
      <% if (bookinstance_list.length==0) { %>
        <li> There are no book copies in this library.</li>
      <% } %>

    